$max-width-input: 50rem;

:global {
  .container {
    box-shadow: 0rem 0rem 2rem -0.3rem rgba(200,200,200,0.5);
    margin: 2.0rem 1.0rem;
    padding: 1rem;
    
    &--required {
      box-shadow: 0rem 0rem 2rem -0.3rem rgba(255,180,180,0.7) !important;
    }
  }

  .max-width-instruction {
    display: flex;
    flex-basis: row;
    justify-content: flex-start;
    text-align: justify;
    max-width: $max-width-input + 2rem;
    line-height: 2rem;
  }

  .max-width-question {
    display: flex;
    flex-basis: row;
    justify-content: flex-start;
    text-align: justify;
    max-width: $max-width-input;
  }

  .max-width-input {
    display: flex;
    flex-basis: row;
    justify-content: flex-start;
    max-width: $max-width-input;
  }
}