// import lato font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// typography
$font-family: Lato, sans-serif;
$font-weight-extra-light: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;
$font-size: 1.0rem;

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: $font-size;
}
